/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(265, 75%, 48%);
  --second-color: hsl(18, 88%, 58%);
  --title-color: hsl(220, 20%, 8%);
  --text-color: hsl(220, 8%, 35%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(220, 4%, 99%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --h1-font-size: 24px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --h1-font-size: 36px;
    --h3-font-size: 20px;
    --normal-font-size: 16px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 24px;
}

/*=============== TESTIMONIAL CARD ===============*/

.testimonial {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.testimonial__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 48px;
}

.testimonial__swiper {
  padding-bottom: 112px;
}

.testimonial__card {
  width: 280px;
  background-color: var(--container-color);
  box-shadow: 0 8px 16px hsla(265, 75%, 4%, 0.1);
  padding: 32px 24px 48px;
  border-radius: 24px;
  text-align: center;
}

.testimonial__img {
  width: 100px;
  border-radius: 64px;
  border: 4px solid var(--first-color);
  margin: 0 auto 8px;
}

.testimonial__name {
  font-size: var(--h3-font-size);
  margin-bottom: 32px;
}

.testimonial__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 12px;
}

.testimonial__stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.testimonial__stars i {
  font-size: 16px;
  color: var(--second-color);
}

.testimonial__number {
  font-size: var(--h3-font-size);
}

/* Swiper class */

.testimonial .swiper-pagination-bullet {
  background-color: var(--first-color);
  transition: opacity 0.3s;
}

.testimonial .swiper-pagination-bullets {
  bottom: 64px;
}

.testimonial .swiper-button-next {
  right: calc(50% - 48px);
}

.testimonial .swiper-button-prev {
  left: calc(50% - 48px);
}

.testimonial .swiper-button-next::after,
.testimonial .swiper-button-prev::after {
  content: "";
}

.testimonial :is(.swiper-button-next, .swiper-button-prev) {
  top: initial;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 50%;
  font-size: 24px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 300px) {
  .testimonial__title {
    font-size: 20px;
  }

  .testimonial__card {
    width: 240px;
    padding-inline: 16px;
  }
}

/* For medium devices */
@media screen and (min-width: 640px) {
  .testimonial__swiper {
    max-width: 640px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .testimonial__swiper {
    max-width: 760px;
  }

  .testimonial__title {
    margin-bottom: 64px;
  }

  .testimonial__card {
    width: 330px;
    padding: 48px 32px 64px;
    border-radius: 32px;
  }

  .testimonial__number {
    font-size: var(--normal-font-size);
  }
}
